# 문자열(String) 관련 함수
1. [문자열 합치기](#1)
2. [문자열 반복](#2)
3. [문자열 바꾸기 (Replace)](#3)
4. [문자열 나누기 (Split)](#4)
5. [공백 지우기](#5)
6. [대문자/소문자로 바꾸기](#6)
7. [문자열 포맷팅(String formatting)](#7)
 1. [The string format() method](#7-1)
 2. [f-strings](#7-2)
8. [복습: 문자열 나누고, 한번에 공백을 제거하여, 모두 대문자로 바꾸기](#8)

|기능|함수|
|:---:|:---:|
|문자열 합치기|`+`|
|문자열 반복|`*`|
|문자열 바꾸기|`.replace()`|
|문자열 나누기|`.split()`|
|공백 지우기|`.strip() / .lstrip() / .rstrip()`|
|대문자/소문자로 바꾸기|`.upper() / .lower()`|
|문자열 포맷팅|`{:.2f} / {:04d}`|

---
## 1. 문자열 합치기<a name="1"></a>

In [1]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

---
## 2. 문자열 반복<a name="2"></a>

In [2]:
a = "Hello"
b = a*3
print(b)

HelloHelloHello

In [3]:
print("-"*50)

--------------------------------------------------

---
## 3. 문자열 바꾸기 (Replace)<a name="3"></a>

In [4]:
a = "Hello World!"
a.replace("World", "Ethan")

'Hello Ethan!'

In [5]:
print(a)

Hello World!

In [6]:
a = "Hello World"
id(a)

140732525496240

In [7]:
id(a.replace("World", "Ethan"))

140732525558256

<b>Why?</b> → `replace` 함수를 쓰면, 새로운 공간에 합쳐진 문자열을 만들어넣기 때문!

---
## 4. 문자열 나누기 (Split)<a name="4"></a>

In [8]:
a = "Apple, Banana, Cake, Donut"
a.split(",")

['Apple', ' Banana', ' Cake', ' Donut']

In [9]:
print(a)

Apple, Banana, Cake, Donut

In [10]:
a = "Apple, Banana, Cake, Donut"
b = a.split(",")
b

['Apple', ' Banana', ' Cake', ' Donut']

In [11]:
b[0]

'Apple'

In [12]:
b[1]

' Banana'

In [13]:
b[2]

' Cake'

Banana, Cake, Donut 앞에 한 칸씩 공백이 생김<br>
⇣

---
## 5. 공백 지우기<a name="5"></a>
### (1) 문자열 양쪽의 공백 지우기

In [14]:
a = " Banana"
print(a)
a = a.strip()
print(a)

 Banana
Banana

### (2) 문자열 왼쪽 혹은 오른쪽 공백 지우기

In [15]:
a = " Banana "
a.lstrip()

'Banana '

In [16]:
a.rstrip()

' Banana'

### (3) 리스트 형태로 나누어진 모든 문자열에서 공백 지우기
- `strip()`은 리스트가 아니라 문자열에서 사용 가능
- 그러므로 `strip()`으로 한 번에 공백을 지울 수 없음
- 아래와 같이 하면 에러 발생
```python
a = ['Apple', 'Banana', 'Cake', 'Donut']
b.strip()
```

#### For loop(반복문)을 이용해서 문자열을 하나씩 바꿔 한 번에 리스트로 만들면 된다!

In [17]:
a = "Apple, Banana, Cake, Donut"
b = a.split(",")
print(b)

[c.strip() for c in b]

['Apple', ' Banana', ' Cake', ' Donut']

['Apple', 'Banana', 'Cake', 'Donut']

In [18]:
c = [c.strip() for c in b]
c

['Apple', 'Banana', 'Cake', 'Donut']

---
## 6. 대문자/소문자로 바꾸기<a name="6"></a>
### (1) 대문자로 바꾸기 - `upper()`

In [19]:
a = "apple"
a.upper()

'APPLE'

### (2) 소문자로 바꾸기 - `lower()`

In [20]:
a = "APPLE"
a.lower()

'apple'

---
### 7-0. `print()` 함수에 문자열과 변수를 `,`로 구분하여 실행하면, 문자열과 변수를 같이 출력

In [21]:
name = "Ethan"
print("Hello", name)

Hello Ethan

## 7. 문자열 포맷팅(String formatting)<a name="7"></a>
### A. The string `format()` method (`"{}".format()` 형태)<a name="7-1"></a>
일반적으로 사용할 때, 어떤 타입이 오던 `{}`만으로도 표기할 수 있다.

In [22]:
# Old
print("%s and %d" % ("Apple", 10))

# New
print("{} and {}".format("Apple", 10))

Apple and 10
Apple and 10

#### 소수점 자리수를 지정하기

In [23]:
print("{}".format(4/3))
print("{:.2f}".format(4/3))

print("{:04d}".format(12))

1.3333333333333333
1.33
0012

#### 정리

In [24]:
print("Hello {}".format("Ethan"))
print("-"*30)
print("{:04d}".format(1))
print("{:04d}".format(12))
print("{:04d}".format(123))
print("-"*30)
print("{:.2f}".format(3.14159265359))

Hello Ethan
------------------------------
0001
0012
0123
------------------------------
3.14

### B. f-strings<a name="7-2"></a>

In [25]:
print(f"Hello {'Ethan'}")
print("-"*30)
print(f"{1:04d}")
print(f"{12:04d}")
print(f"{123:04d}")
print("-"*30)
print(f"{3.14159265359:.2f}")

Hello Ethan
------------------------------
0001
0012
0123
------------------------------
3.14

---
## 8. 복습: 문자열 나누고, 한번에 공백을 제거하여, 모두 대문자로 바꾸기<a name="8"></a>

In [26]:
a = "Apple, Banana, Cake, Donut"
b = a.split(",")
print("Split result: ", b)
c = [c.strip() for c in b] # 문자열 양쪽 공백을 제거한 문자열 리턴
print("Strip result: ", c)
c = [c.strip().upper() for c in b] # 공백이 제거된 문자열에 다시 upper() 함수 사용
print("Strip & Upper result: ", c)

Split result:  ['Apple', ' Banana', ' Cake', ' Donut']
Strip result:  ['Apple', 'Banana', 'Cake', 'Donut']
Strip & Upper result:  ['APPLE', 'BANANA', 'CAKE', 'DONUT']