# 변수(Variable와 기본 데이터타입(Data types)
1. [변수란?](#1)
2. [변수 이름 규칙](#2)
3. [숫자 (Numbers)](#3)
4. [문자열 (String)](#4)
5. [불 (Bool or Boolean)](#5)
6. [None](#6)
7. [형변환 (Casting)](#7)

## 1. 변수란?<a name='1'></a>
숫자, 문자열 등의 값을 가리키는 것

In [1]:
a = 10

a라는 이름의 변수에 10이라는 값을 할당하겠다.
1. 정수 10이라는 값이 생성되어 메모리 상에 저장된다.
2. a 라는 변수 이름(변수명)이 생성된다.
3. 10이라는 값이 저장된 메모리상의 주소를 a가 가리키게 한다.

In [2]:
a = a + 1

1. 10 + 1이 계산되고, 계산된 값 11이 새로운 메모리 주소 상에 저장된다.
2. a는 이제 11이라는 값을 가리키게 된다.
3. 사용하지 않는 (아무도 가리키지 않는) 10이라는 값은 추후 메모리에서 정리된다. (Garbage collect)

#### 10이 만들어지고, a가 10을 가리킨다.

In [3]:
a = 10
print(id(10))
print(id(a))

4341873280
4341873280

#### b가 10을 가리킨다.

In [4]:
b = a
print(id(a))
print(id(b))

4341873280
4341873280

#### 20이 만들어지고, b가 20을 가리킨다.

In [5]:
b = 20
print(id(20))
print(id(b))

4341873600
4341873600

#### a에는 아무 영향이 없으므로, 원래 a가 가리키던 값이 출력된다.

In [6]:
print(a)
print(id(a))

10
4341873280

---
## 2. 변수 이름 규칙<a name='2'></a>
### 1) 영문자(대, 소문자) / 숫자 / 언더바(_) 사용 가능

In [7]:
a = 1
A = 2
a1 = 3
a2 = 4
_a = 5
b_ = 6
c_1 = 7
print(a, A, a1, a2, _a, b_, c_1)

1 2 3 4 5 6 7

### 2) 첫 자리에 숫자 사용 불가능

In [8]:
12a = 1

SyntaxError: invalid syntax (<ipython-input-8-8b61d9586b4d>, line 1)

### 3) 파이썬 키워드는 사용 불가능
```python
False, None, True, and, as, assert, async,
await, break, class, continue, def, del, elif,
else, except, finally, for, from, global, if,
import, in, is, lambda, nonlocal, not, or,
pass, raise, return, try, while, with, yield
```

In [9]:
class = 'A'

SyntaxError: invalid syntax (<ipython-input-9-2df928d91a54>, line 1)

---
## 3. 숫자 (Numbers)<a name='3'></a>
- <b>정수형</b>: `int`
- <b>실수형</b>: `float`
- <b>복소수형</b>: `complex` number

In [10]:
a = 10 # 정수
pi = 3.14 # 실수
complex = 1+2j # 복소수

In [11]:
print(a)
print(type(a))

10
<class 'int'>

In [12]:
print(pi)
print(type(pi))

3.14
<class 'float'>

In [13]:
print(complex)
print(type(complex))

(1+2j)
<class 'complex'>

---
## 4. 문자열 (String)<a name='4'></a>
문자, 단어 등으로 구성된 문자들의 집합

In [14]:
a = 'Hello'
b = a
print(id(a), id(b))

b += 'World'
print(id(a), id(b))

140526308718192 140526308718192
140526308718192 140526308719664

### 문자열을 만드는 방법 4가지 방법
 1. 큰 따옴표로 둘러싸기 (ex. "Hello World")
 2. 작은 따옴표로 둘러싸기 (ex. 'Hello World')
 3. 3개 연속 큰 따옴표로 둘러싸기 (ex. """Hello World""")
 4. 3개 연속 작은 따옴표로 둘러싸기 (ex. '''Hello World''')

In [15]:
a = "Hello World"
b = 'Hello World'
c = """Hello World"""
d = '''Hello World'''
print(a)
print(b)
print(c)
print(d)

Hello World
Hello World
Hello World
Hello World

### 문자열 만드는 방법이 4가지나 되는 이유
#### 1. 문자열 안에 작은 따옴표(')를 포함시키고 싶을 때

In [16]:
a = "It's python!"
print(a)

It's python!

#### 2. 문자열 안에 큰 따옴표(")를 포함시키고 싶을 때

In [17]:
b = 'Python is "programming language".'
print(b)

Python is "programming language".

#### 3. 여러줄의 문자열을 변수에 대입하고 싶을 때

In [18]:
c = """Life is too short,
You need python."""
print(c)

Life is too short,
You need python.

### 문자열 안에 변수를 포함하여 출력하기

In [19]:
a = "apples"
print("I like %s." % a)

I like apples.

In [20]:
a, b = 'apples', 'bananas'
print('I like %s and %s.' % (a, b))

I like apples and bananas.

---
## 5. 불 (Bool or Boolean)<a name='5'></a>
- 참(True)과 거짓(False)를 나타내는 타입
- 다른 언어와 다르게 첫 글자가 대문자

In [21]:
a = True
b = False
True, False, a, b

(True, False, True, False)

---
## 6. None<a name='6'></a>
- 값이 없음을 의미
- 다른 언어에서의 null과 같음

In [22]:
a = 10
a, 10

(10, 10)

In [23]:
None

In [24]:
a = None
a

---
## 7. 형변환 (Casting)<a name='7'></a>
데이터 값을 필요에 따라서 다른 형태(타입)으로 변환하는 것

In [25]:
a = 3.0
type(a)

float

In [26]:
a = int(a)
type(a)

int

일부 데이터타입끼리는 변환이 안될 수 있음

In [27]:
a = '10'
a = int(a)

In [28]:
a = '3.0'
a = float(a)

In [29]:
a = 'Hello World'
a = int(a)

ValueError: invalid literal for int() with base 10: 'Hello World'